.select .main {
  border: 1px solid black;
  display: inline-block;
  min-height: 20px;
  min-width: 100px;
  position: relative;
}

.items {
  border: 1px solid red;
  padding: 10px;
  width: 100px;
}
.item.selected {
  background-color: blue;
  color: white;
}
