:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  background-image: url("../src/app/assets/0726f3bb29d91d039fd3340d65ed6093.jpg");
}
li {
  list-style: none;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
