.title {
    text-align: center;
    font-size: 250px;
    margin: 0;
    color: aliceblue;
}

.subtitle {
    text-align: center;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
    color: aliceblue;
}